<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ear Mentor</title>
</head>
<body>
<div id="app"><div><%- markup -%></div></div>
<script src="/client.js"></script>
</body>
</html>
