import path from 'path';

const config = {
  development: {
    db: path.join(__dirname, '../../db/db.development.sqlite3'),
    secretKey: 'a-secret-key',
    port: 3000
  },
  test: {
    db: path.join(__dirname, '../../db/db.test.sqlite3'),
    secretKey: 'a-secret-key',
    port: 3001
  },
  production: {
    db: path.join(__dirname, '../../db/db.sqlite3'),
    secretKey: 'a-secret-key', // replace with you own
    port: 8081
  }
};

export default config[process.env.NODE_ENV];
